<div class="page-title">General Information</div>
<nz-tabs nzType="card" [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="onTabIndexChange($event)">
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
      <nz-icon [nzType]="tab.icon" />
      {{ tab.name }}
    </ng-template>
  </nz-tab>
</nz-tabs>

<div class="info-content">
  <ng-container *ngIf="selectedTab?.contentType === 'json'; else htmlContent">
		<div class="page-wrapper">
			<a href="https://ostreetscape.com/" class="bottom-center-link" target="_blank" rel="noopener">
				<div class="bottom-center-box">
					<img src="otto.webp" class="box-image" alt="Example">
					<div class="box-text">
						<p>Otto's Streetscape Solutions</p>
						<p>2449 East Main Street</p>
						<p>Greenwood, Indiana 46143</p>
					</div>
				</div>
			</a>
		</div>
    <div class="mailbox-list" *ngIf="mailboxItems.length; else loading">
      <div
        class="mailbox-item"
        *ngFor="let item of mailboxItems; let last = last; trackBy: trackByProduct"
      >
        <div class="item-header">
          <div class="item-title">{{ item.product }}</div>
          <div class="item-description">{{ item.description }}</div>
        </div>

        <div class="pricing-grid">
          <div class="pricing-col">
            <div class="pricing-col-heading">Standard Pricing</div>
            <div class="pricing-row">
              <span>Pickup</span>
              <span class="pricing-value">
                {{ item.standardPricing.pickUp === 'N/A' ? 'N/A' : (item.standardPricing.pickUp | currency:'USD':'symbol':'1.2-2') }}
              </span>
            </div>
            <div class="pricing-row">
              <span>Install</span>
              <span class="pricing-value">
                {{ item.standardPricing.install === 'N/A' ? 'N/A' : (item.standardPricing.install | currency:'USD':'symbol':'1.2-2') }}
              </span>
            </div>
          </div>

          <div class="pricing-col">
            <div class="pricing-col-heading">Exclusive Provider Pricing</div>
            <div class="pricing-row">
              <span>Pickup</span>
              <span class="pricing-value">
                {{ item.exclusiveProviderPricing.pickUp === 'N/A' ? 'N/A' : (item.exclusiveProviderPricing.pickUp | currency:'USD':'symbol':'1.2-2') }}
              </span>
            </div>
            <div class="pricing-row">
              <span>Install</span>
              <span class="pricing-value">
                {{ item.exclusiveProviderPricing.install === 'N/A' ? 'N/A' : (item.exclusiveProviderPricing.install | currency:'USD':'symbol':'1.2-2') }}
              </span>
            </div>
          </div>

          <div class="pricing-col savings-col">
            <div class="pricing-col-heading">Savings</div>
            <div class="pricing-row">
              <span>Pickup</span>
              <span class="pricing-value">
                {{ item.savings.pickUp === 'N/A' ? 'N/A' : (item.savings.pickUp | currency:'USD':'symbol':'1.2-2') }}
              </span>
            </div>
            <div class="pricing-row">
              <span>Install</span>
              <span class="pricing-value">
                {{ item.savings.install === 'N/A' ? 'N/A' : (item.savings.install | currency:'USD':'symbol':'1.2-2') }}
              </span>
            </div>
          </div>
        </div>

        <div class="item-divider" *ngIf="!last"></div>
      </div>
			<div class="notes">
				<u>Notes</u>:
				<div class="note-item">Install fee is waived if completed at same time as mailbox and/or post</div>
				<div class="note-item">All orders are custom and payment is required at time of order. Otto's accepts: Visa, MasterCard, Checks, & Cash</div>
				<div class="note-item">Oak Park Exclusive Provider Pricing; Contract dates valid: January 2025 - December 31st, 2026</div>
			</div>
		</div>		
    <ng-template #loading>
      <div class="loading-message">Loading mailbox pricing…</div>
    </ng-template>
  </ng-container>
  <ng-template #htmlContent>
    <div *ngIf="selectedIndex === 1" class="static-detail">
			<div class="page-wrapper">
				<a href="https://www.wm.com/us/en/location/in/danville" class="bottom-center-link" target="_blank" rel="noopener">
					<div class="bottom-center-box">
						<img src="wasteManagement.png" class="box-image" alt="Example">
						<div class="box-text">
							<p>Waste Management</p>
							<p>123 Twin Bridges Road</p>
							<p>Danville, Indiana 46122</p>
						</div>
					</div>
				</a>
			</div>
			<div class="item-header">
        <div class="item-title">Trash Schedule</div>
        <div class="item-description">Trash is collected weekly on Tuesdays. Please place bins at the curb by 7:00 AM on the pickup day.</div>
      </div>
			<div class="item-header">
        <div class="item-title">Heavy Trash Days</div>
        <div class="item-description">Please check the <a href="/calendar">calendar</a> for specific date and times for heavy trash days.</div>
				<div class="item-description">For more information, please visit the <a href="https://www.townofplainfield.com/1539/News">Plainfield Heavy Trash Day</a> web page.</div>
      </div>
    </div>
    <div *ngIf="selectedIndex === 2" class="static-detail">
			<div class="page-wrapper">
				<a href="https://www.townofplainfield.com/" class="bottom-center-link" target="_blank" rel="noopener">
					<div class="bottom-center-box-plainfield">
						<img src="plainfield.png" class="box-image" alt="Example">
						<div class="box-text-plainfield">
							<p>Town of Plainfield</p>
							<p>206 W. Main Street</p>
							<p>Plainfield, IN 46168</p>
						</div>
					</div>
				</a>
			</div>
			<div class="item-header">
        <div class="item-title">Town of Plainfield Ordinances</div>
        <div class="item-description">View the Town of Plainfield ordiances through the <a href="https://codelibrary.amlegal.com/codes/plainfield/latest/overview">American Legal Publishing Corporation website</a>.</div>
      </div>
    </div>
  </ng-template>
</div>
