.news-headline {
	font-size: 1rem;
	font-weight: bold;
}

.news-description {
	font-size: 0.875rem;
	line-height: 1.5;
	color: #333;
	text-align: justify;
}

.news-date {
	font-size: 0.75rem;
	color: #666;
	margin-bottom: 1rem;
}

.news-item {
  border-bottom: 1px solid #ddd;
}