<div class="covenants-container">
  <div class="shared-title">Covenants</div>
  <button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" class="covenants-dropdown">Select Covenant <span nz-icon nzType="down"></span></button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item *ngFor="let covenant of covenants()" (click)="selectCovenant(covenant)">
        {{ covenant.covenant }}
      </li>
    </ul>
  </nz-dropdown-menu>

  <div *ngIf="selectedCovenant()" class="selected-covenant">
    <div class="covenant-name">{{ selectedCovenant()!.covenant }}</div>
    <div class="covenant-description" [innerHTML]="selectedContent()"></div>
  </div>

  <div class="shared-link">
    <a routerLink="/restrictions">
      View All Covenants →
    </a>
  </div>
</div>
