<div class="covenants-container">
  <div class="shared-title">Covenants</div>
  <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" class="covenants-dropdown">
    View Covenants →
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item *ngFor="let covenant of covenants()">
        {{ covenant.covenant }}
      </li>
    </ul>
  </nz-dropdown-menu>
  <div *ngFor="let covenant of covenants()" class="covenant-item">
    <div>
      {{ covenant.covenant }}
    </div>

    <!--div class="event-details">
      <div class="event-title">
        {{ event.title }}
      </div>
			<div class="event-location">
				{{ event.location }}
			</div>
      <div class="event-time">
        {{ formatTimeRange(event.startDate, event.endDate) }}
      </div>
    </div-->
  </div>

  <a routerLink="/covenants">
    View All Covenants →
  </a>
</div>
