<div class="covenants-container">
  <div class="shared-title">Covenants</div>
  <button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" class="covenants-dropdown">Select Covenant <span nz-icon nzType="down"></span></button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item *ngFor="let covenant of covenants()">
        {{ covenant.covenant }}
      </li>
    </ul>
  </nz-dropdown-menu>
  <div *ngFor="let covenant of covenants()" class="covenant-item">
    <div>
      {{ covenant.covenant }}
    </div>
  </div>

  <a routerLink="/restrictions">
    View All Covenants →
  </a>
</div>
