<div class="page-title">Covenants and Bylaws</div>
<nz-tabs
	style="height:100%;"
	[nzTabPosition]="nzTabPosition"
	[nzSize]="'large'"
	[nzTabBarGutter]="-30"
	[(nzSelectedIndex)]="selectedIndex"
	(nzSelectedIndexChange)="onTabIndexChange($event)"
	(nzSelectChange)="log([$event])"
>
	<nz-tab *ngFor="let tab of tabs"
		[nzTitle]="tab.name"
		[nzDisabled]="tab.disabled"
		(nzSelect)="log(['select', tab])"
		(nzClick)="log(['click', tab])"
		(nzContextmenu)="log(['contextmenu', tab])"
		(nzDeselect)="log(['deselect', tab])"
	>
		<div class="covenant-content" *ngIf="selectedContent()">
			<div [innerHTML]="selectedContent()"></div>
		</div>
	</nz-tab>
</nz-tabs>

