:host {
  display: flex;
}

.app-layout {
  height: 100vh;
}

.top-nav {
  line-height: 64px;
}

.logo-container {
  float: left;
  height: 64px; // matches nz-header height
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.logo {
	height: 64px;
	width: auto;
	object-fit: contain;
  float: left;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
	margin-left: 24px;
}

.logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  margin: 0 0 0 15px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family:
    Avenir,
    Helvetica Neue,
    Arial,
    Helvetica,
    sans-serif;
  vertical-align: middle;
}

nz-content {
  padding: 24px 50px;
}

nz-layout {
  min-height: 100vh;
	width: 100%;
}

nz-content {
  flex: 1;
}

nz-header {
	padding: 0px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

[nz-icon] {
  margin-right: 8px;
  font-size: 16px;
  vertical-align: -2px;
}
